* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 10% 10px 30%;
}

.titleWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 0;
}

.headerImage {
    height: 10vh;
    width: auto;
}

header h1 {
    margin: 0;
    font-size: 4rem;
    color: #5C4033
}

.site-nav {
    margin-top: 15px;
}

.site-nav ul {
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.site-nav li {
    list-style: none;
    padding: 0;
    border: none;
    font-size: 1.3rem;
}

.site-nav li:hover {
    color: #5C4033;
    background: none;
}

.container {
    padding: 40px;
    background:#d8cfc4;
}

.mainArea {
    width: 68%;
    float: left;
    padding: 20px;   
    border-radius: 25px;
    margin-top: 50px; 
    background-color: #5C4033
}

.mainHeading {
    margin-bottom: 20px;
    text-align: center; 
    font-size: 2.5rem;
    padding-left: 0;   
    color: white;
}

.mainArea h2 {
    margin-bottom: 20px;
}

.sideArea {
    width: 30%;
    float: right;
    padding: 20px;
    margin-top: 50px; 
    background-color: #5C4033;
    border-radius: 25px;
}

.sideBox {
    background: #f8e1d4;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
    border: 2px solid black;
    color: #5C4033;
}

.sideBox h2 {
    margin-bottom: 15px;
    font-size: 2rem;
}

.sideBox p {
    font-size: 18px;
}

.box {
    width: 47%;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    margin-top: 10px; 
    background: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    height: 320px;
    overflow: hidden;
}

.mainArea::after {
    content: "";
    display: table;
    clear: both;
}

.box img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}